
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root{
    --border:rgba(255, 0, 0, 0);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
background: rgba(241, 241, 241, 0.2); 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}



html, body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Delius';
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../media/DE1A0462-C67F-4F8F-AACE-1AEE7C35AFDA.jpg');
    padding: 2%;
    border: 2px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(5px);

}
body > * {
    border: 2px solid var(--border);
}
#page-name{
    font-size: 400%;
    height: 20%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}
#data{
    width: 90%;
    height: auto;
    max-height: 70%;
    overflow-y: scroll;
}
.message{
    margin-bottom: 3vh;
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.75);
    border-radius: 40px;
    height: auto;
    width: 90%;
    font-size: 150%;
}

footer{
    margin-top: 3vh;

}
